<div class="login-container">
    <form [formGroup]="loginFormSubadmin" (ngSubmit)="onSubmitSubadmin()" class="form">
      <h2 class="form-title">Add Sub-admin</h2>
  
      <!-- Username Field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          autocomplete="off"
          (blur)="checkEmailAdmin()"
          placeholder="Enter Email Here"          
          class="form-control"
        />
        <p *ngIf="emailExists" style="color: red;">
          This email is already registered.
        </p>
      <div *ngIf="email?.touched && email?.invalid" class="error">
        <small *ngIf="email?.hasError('required')">Email is required.</small>
        <small *ngIf="email?.hasError('email')">Please enter a valid email address.</small>
      </div>
      </div>
      <div *ngIf="loginFormSubadmin.get('email')?.invalid && loginFormSubadmin.get('email')?.touched" class="error-text">
        Please enter a valid email.
      </div>
  
      <!-- Submit Button -->
      <div class="button-container">
        <button type="submit" [disabled]="loginFormSubadmin.invalid" class="btn-submit">
          Add Sub-admin
        </button>        
      </div>
      <div class="form-links">
      <p><a [routerLink]="['/login']" class="link">Back</a>
      </p>
      </div>  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
